#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
  behaviors {
    lm: layer_mod_tap {
        compatible = "zmk,behavior-hold-tap";
        label = "layer_hold_tap";
        #binding-cells = <2>;
        tapping-term-ms = <180>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

                default_layer {
                        bindings = <
		   &kp Q	&kp W	   &kp E	&kp R		&kp T		  		   &kp Y	  &kp U	  	&kp I		&kp O	kp P
		   &kp A	&kp S	   &kp D	&kp F		&kp G		  		   &kp H	  &kp J	  	&kp K		&kp L	&kp QUOT
		&kp LSHIFT	&kp X	   &kp C	&kp V		&kp B		  		   &kp N	  &kp M	  	&kp COMMA	&kp DOT	&kp SLSH
					&lm LCTRL ESC  &lm RSE TAB  &lm LALT SPACE			  &lm WIN BSP	 &lm LWR DEL  &lm RET MEDIA
                        >;
                };

                lower_layer {
                        bindings = <
		    &kp AT	&kp W	   &kp E	&kp R		&kp T			&kp FSLH	&kp N7		&kp N8		&kp N9	&kp EQUAL
		  &kp AUML	&kp S	   &kp D	&kp F		&kp G			&kp BSLS	&kp N4		&kp N5		&kp N6	&kp QUOT
		&kp LSHIFT	&kp Z	   &kp C	&kp V		&kp B			&kp N0		&kp N1		&kp N2		&kp N3	&kp PLUS
				&lm LCTRL ESC	&lm RSE TAB	 &lm LALT SPACE			&lm WIN BSP	&lm LWR DEL  &lm RET MEDIA
                        >;
                };

                raise_layer {
                        bindings = <			
		  &kp EXCL	&kp W	   &kp E		  &kp R			&kp T				   &kp Y		&kp U		&kp I      	 &kp O	  &kp P
		    &kp F12	&kp S	   &kp D		  &kp F			&kp G				   &kp H		&kp J		&kp K      	 &kp L	  &kp QUOT
		&kp LSHIFT	&kp X	   &kp C		  &kp V			&kp B				   &kp N		&kp M		&kp COMMA    &kp DOT  &kp SLSH
							&lm LCTRL ESC	&lm RSE TAB	 &lm LALT SPACE			&lm WIN BSP	 &lm LWR DEL  &lm RET MEDIA
                        >;
                };

                adjust_layer {
                        bindings = <
		    &kp Q		&kp W	   &kp E		  &kp R			&kp T				   &kp Y		&kp U		&kp I      	 &kp O	  &kp P
		    &kp A		&kp S	   &kp D		  &kp F			&kp G				   &kp H		&kp J		&kp K      	 &kp L	  &kp QUOT
		&kp LSHIFT	&kp X	   &kp C		  &kp V			&kp B				   &kp N		&kp M		&kp COMMA    &kp DOT  &kp SLSH
							&lm LCTRL ESC	&lm RSE TAB	 &lm LALT SPACE			&lm WIN BSP	 &lm LWR DEL  &lm RET MEDIA
                        >;
                };

  };
};
